:root {
    --brand-color-primary: #58acc7;
    --brand-color-secondary: #69cc99;
    /* --brand-color-gradation: linear-gradient(90deg, #005396 0%, #75CFC1 100%); */

    --base-color-primary: #333333;
    --base-color-secondary: #888888;
    --base-color-tertiary: #e0e0e0;
    --base-color-on-primary: #ffffff;

    --background-color-primary: #ffffff;
    --background-color-secondary: #efefef;
    --background-color-tertiary: #e0e0e0;

    --accent-color: #e5a894;

    --error-color: #ea3223;
    --warning-color: #d8ac3d;
}

@media (prefers-color-scheme: dark) {
    /* :root {
        --brand-color-primary: #409eba;
    } */

    .main {
        --base-color-primary: #ffffff;
        --base-color-secondary: #a0a0a0;
        --base-color-tertiary: #373737;

        --background-color-primary: #292626;
        --background-color-secondary: #333333;
        --background-color-tertiary: #373737;

        --white-unchanged: #ffffff;
        --black-unchanged: #333333;
    }

    .main_service_card_button_text, .main_invite {
        --base-color-primary: #333333;
        --base-color-white: #ffffff;
        --background-color-white: #ffffff;
    }
}