/* top */

.top {
    width: 100%;
    height: 434px;
    position: relative;
    overflow: hidden;
    /* flex-wrap: wrap; */
}

.fv_title {
    z-index: 100;
    position: absolute;
    top: 158px;
    left: 70px;
    transform: translate(0%, -50%);
    color: var(--base-color-on-primary);
}

.fv_subcopy {
    z-index: 100;
    position: absolute;
    top: 296px;
    left: 70px;
    transform: translate(0%, -50%);
    color: var(--base-color-on-primary);
}

.fv_mockup {
    z-index: 100;
    position: absolute;
    top: 81px;
    left: 402px;
}

.top_background {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.top_back_left {
    flex: 1;
    height: 100%;
    background: var(--brand-color-primary);
}

.top_back_center {
    width: 251px;
    height: 100%;
    background: linear-gradient(to bottom right, var(--brand-color-primary) 50%, #3687a5 50%);
}

.top_back_right {
    width: 174px;
    height: 100%;
    background: #3687a5;
    position: relative;
}

.overlay_logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-27%, -50%);
    width: 298px;
    height: 208px;
    max-inline-size: 298px;
}

#top_right_fig {
    flex-shrink: 1;
    flex-grow: 0;
    width: 362px;
    height: 276px;
    /* z-index: 10; */
}


/* main - common part */

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 80px;
    padding-left: 64px;
    padding-right: 64px;
    padding-top: 90px;
    padding-bottom: 90px;

    background: var(--background-color-primary);
}

.main_part {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 48px;

    flex: none;
    order: 0;
}

.main_sectionname {
    /* pop-up_title */
    color: var(--brand-color-primary);
}

.news_section {
    width: 100%;
}

.news_part {
    display: flex;
    width: 100%;
    padding: 20px 0px;
    align-items: center;
}

.news_part_text {
    display: flex;
    width: 100%;
    align-items: baseline;
}

.news_date {
    flex: 0 0 auto;
    padding-right: 24px;
    color: var(--base-color-primary);
}

.news_title {
    flex: 1;
    color: var(--base-color-primary);
}

.news_arrow {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    color: var(--brand-color-primary);
}

.news_border {
    border: none;
    border-top: 1px solid var(--base-color-tertiary);
    width: 100%;
}

.products_part {
    width: 100%;
}

.products_title {
    display: flex;
    width: 100%;
    align-items: center;
}

.products_icon {
    display: flex;
    align-items: center;
    padding-right: 16px;
}

.products_name {
    
}

.products_mainname {
    color: var(--base-color-primary);
}

.products_subname {
    color: var(--base-color-secondary);
}

.appimage {
    display: flex;
    justify-content: center;
}

.infowebimage {
    display: flex;
    justify-content: center;
}

.products_description {
    color: var(--base-color-primary);
    padding: 16px 0;
}

.download_buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.dl_button {
    
}

.info_button_part {
    width: 100%;
    display: flex;
    justify-content: center;
}

.titechinfo_button {
    display: flex;
    border-radius: 10000px;
    padding: 8px 16px;
    color: var(--brand-color-primary);
    border: 1px solid var(--brand-color-primary);
    align-items: center;
    justify-content: center;
}

.info_button_text {
    padding-left: 4px;
}

.recruit_description {
    color: var(--base-color-primary);
}

.main_sectiontext {
    /* caption */
    color: var(--base-color-primary);
}

.main_subsectionname {
    /* copy */
    color: var(--brand-color-primary);
}

.main_subsectiontext {
    /* subcopy */
    color: var(--base-color-secondary);
}

.main_description {
    /* description */
    color: var(--base-color-primary);
}

/* main - exception */
/* - services */
.main_services {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
    width: 100%;

    flex: none;
    order: 0;
}

.main_services_contents {
    flex: none;
    order: 1;

    align-self: stretch;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 32px;
    padding: 0px 16px;
}

.main_service {
    flex: none;
    flex-grow: 1;
}

.main_service_card {
    flex-grow: 0;

    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px 24px 24px;
    gap: 16px;

    /* width: 464px; */
    /* height: 180px; */

    background: var(--base-color-on-primary);
    border: 1px solid var(--base-color-tertiary);
    border-radius: 16px;
}

.main_service_card_header {
    align-self: stretch;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
}

.main_service_card_title {
    /* copy */
    color: var(--base-color-primary);
    flex-grow: 1;
    /* width: 280px; */
}

.main_service_card_button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    margin-left: 24px;
    gap: 10px;

    /* width: 128px;
    height: 44px; */

    /* Brand/secondary */
    background: var(--brand-color-secondary);
    border-radius: 1000px;
}

.main_service_card_button_text {
    /* subcopy */
    color: var(--base-color-on-primary);
}

.main_service_card_content {
    align-self: stretch;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;

    /* width: 416px; */
}

.main_service_card_description {
    /* caption */
    color: var(--base-color-primary);
    width: 210px;
    flex-grow: 1;
}

#main_service_titechapp {
    padding: 0px;
    width: 80px;
    height: 80px;
}

#main_service_titechinfo {
    padding: 0px;
    width: 80px;
    height: 80px;
}

/* - cando */
.main_cando_section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
}

.main_cando_subsection {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0px;
    gap: 48px;
}

/* - invite */
.main_invite {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    flex-wrap: wrap;

    /* height: 160px; */
    width: 100%;
    padding: 37px 60px;
    gap: 32px;
    background: var(--brand-color-gradation);
    border-radius: 16px;
}

.main_invite_text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    flex-grow: 1;

    color: var(--base-color-on-primary);
}

.main_invite_button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 24px;
    gap: 10px;

    background: var(--base-color-tertiary);
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.16);
    border-radius: 1000px;
}

.main_invite_button_text {
    /* subcopy */
    color: var(--base-color-primary);
}

/* - environment */
.main_environment_subsection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
    width: 100%;
}

.main_environment_subsubsections {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0px;
    column-gap: 24px;
    row-gap: 32px;
    flex-wrap: wrap;

    width: 100%;
}

.main_environment_subsubsection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    width: calc(50vw - 128px - 24px);
    box-sizing: border-box;

    color: var(--base-color-primary);
}

/* - faq */
.main_faq {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 48px;
    width: 100%;
}

.faq_text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0px;
    gap: 56px;
}

.faq_QA {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
}

.faq_Q {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 13px;
}

.faq_Q_Q {
    /* copy */
    margin-top: -2px;
    color: var(--brand-color-primary);
}

.faq_A {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
}

.faq_A_A {
    /* copy */
    color: var(--brand-color-secondary);
}

.faq_A_answer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 2px;
    gap: 4px;
}

.faq_text {
    /* subcopy */
    color: var(--base-color-primary);
}

.faq_description {
    /* description */
    color: var(--base-color-primary);
}


.faq_br {
    font-weight: 700;
}

.faq_bluebr {
    font-weight: 700;
    color: var(--brand-color-primary);
}

.subcopy_br {
    display: initial;
}


/*responsive*/
@media screen and (max-width: 530px) {
    .top {
        height: 547px;
    }

    .top_back_center {
        width: 147px;
    }

    .top_back_right {
        width: 103px;
    }

    .fv_title {
        position: absolute;
        top: 121px;
        left: 32px;
        transform: translate(0%, -50%);
        color: var(--base-color-on-primary);
    }
    
    .fv_subcopy {
        position: absolute;
        top: 494px;
        left: 32px;
        transform: translate(0%, -50%);
        color: var(--base-color-on-primary);
    }

    .fv_mockup {
        top: 159px;
        left: 25px;
    }

    .overlay_logo {
        transform: translate(-35%, -50%);
    }

    .main {
        padding-left: 32px;
        padding-right: 32px;
        padding-top: 32px;
        gap: 80px;
    }

    .main_part {
        gap: 16px;
    }

    .subcopy_br {
        display: initial;
    }
}

@media screen and (min-width: 531px) and (max-width: 600px) {
    .top {
        height: 613px;
    }

    .top_back_center {
        width: 172px;
    }

    .top_back_right {
        width: 132px;
    }

    .fv_title {
        position: absolute;
        top: 128px;
        left: 64px;
        transform: translate(0%, -50%);
        color: var(--base-color-on-primary);
    }

    .fv_mockup {
        top: 182px;
        left: 64px;
        
    }

    .fv_subcopy {
        position: absolute;
        top: 502px;
        left: 64px;
        transform: translate(0%, -50%);
        color: var(--base-color-on-primary);
    }

    .subcopy_br {
        display: initial;
    }

    .overlay_logo {
        transform: translate(-36%, -50%);
    }
}

@media screen and (min-width: 601px) and (max-width: 770px) {
    .top {
        height: 613px;
    }

    .top_back_center {
        width: 172px;
    }

    .top_back_right {
        width: 132px;
    }

    .fv_title {
        position: absolute;
        top: 128px;
        left: 64px;
        transform: translate(0%, -50%);
        color: var(--base-color-on-primary);
    }

    .fv_mockup {
        top: 182px;
        left: 64px;
    }

    .fv_subcopy {
        position: absolute;
        top: 502px;
        left: 64px;
        transform: translate(0%, -50%);
        color: var(--base-color-on-primary);
    }

    .subcopy_br {
        display: none;
    }
    
}

/* responsive */
/* @media screen and (max-width: 900.5px) {
    .top {
        flex-direction: column;
        align-items: center;
        padding: 24px 24px 0px;
        height: 547px;
        gap: 30px;
    }

    

    .top_left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        padding-left: 4px;
    }

    .top_left_copy {
        width: min(300px, 90vw);
        font-size: clamp(20px, 8vw, 30px);
    }

    .top_left_text {
        font-size: clamp(10px, 3.7vw, 16px);
    }

    .main {
        gap: 56px;
        padding: 38px 24px 56px;
    }

    .main_part {
        gap: 40px;
    }

    .main_service_card {
        padding: 16px;
    }

    .main_service_card_description {
        width: 100px;
        flex-grow: 1;
    }


    .main_cando_section {
        gap: 16px;
    }

    .main_cando_subsection {
        flex-direction: column;
        align-items: flex-start;
        gap: 0px;
    }

    .main_invite {
        padding: 24px;
        gap: 20px;
        background: var(--brand-color-gradation);
        border-radius: 16px;
    }

    .main_invite_title {
        font-size: 16px;
    }

    .main_environment_subsection {
        gap: 20px;
    }

    .main_environment_subsubsections {
        flex-direction: column;
        padding: 0px;
        gap: 16px;
    }

    .main_environment_subsubsection {
        width: 100%;
        gap: 8px;
    }

    .main_faq {
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
    }

    .faq_text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: wrap;
        padding: 0px;
        gap: 8px;
    }
} */

/* @media screen and (min-width: 599.5px) and (max-width: 900.5px) {
    .top_left {
        margin-left: calc(135px - 25%);
    }

    .main_invite {
        gap: 16px;
        flex-wrap: nowrap;
    }

    .main_invite_button {
        flex-shrink: 0;
    }
} */

/* @media screen and (max-width: 375.5px) {
    .top_left_button_text {
        font-size: clamp(10px, 4.3vw, 16px);
    }

    .main_service {
        width: 86vw;
    }

    #main_service_titechapp {
        width: 20vw;
        height: 20vw;
    }

    #main_service_titechinfo {
        width: 20vw;
        height: 20vw;
    }

    .main_service_card_button {
        margin-left: 5vw;
        gap: 0px;
    }

    .main_service_card_button_text {
        font-size: clamp(10px, 4vw, 20px);
    }
}

@media screen and (min-width: 900.5px) {
    #phone_header_right {
        display: none;
    }
}

@media screen and (min-width: 1049.5px) {
    .main_invite {
        flex-wrap: nowrap;
    }

    .main_invite_button {
        flex-shrink: 0;
    }
}

@media screen and (min-width: 1249.5px) {
    .br_top {
        display: none;
    }
} */

@media (prefers-color-scheme: dark) {
    header {
        box-shadow: none;
    }

    .main_service_card {
        border: none;
    }
}