/* top */

.top {
    width: 100%;
    height: 434px;
    position: relative;
    overflow: hidden;
}

.fv_title {
    z-index: 100;
    position: absolute;
    top: 158px;
    left: 70px;
    transform: translate(0%, -50%);
    color: var(--base-color-on-primary);
}

.fv_subcopy {
    z-index: 100;
    position: absolute;
    top: 296px;
    left: 70px;
    transform: translate(0%, -50%);
    color: var(--base-color-on-primary);
}

.fv_mockup {
    z-index: 100;
    position: absolute;
    top: 81px;
    left: 402px;
}

.top_background {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.top_back_left {
    flex: 1;
    height: 100%;
    background: var(--brand-color-primary);
}

.top_back_center {
    width: 251px;
    height: 100%;
    background: linear-gradient(to bottom right, var(--brand-color-primary) 50%, #3687a5 50%);
}

.top_back_right {
    width: 174px;
    height: 100%;
    background: #3687a5;
    position: relative;
}

.overlay_logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-27%, -50%);
    width: 298px;
    height: 208px;
    max-inline-size: 298px;
}


.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 80px;
    padding-left: 64px;
    padding-right: 64px;
    padding-top: 90px;
    padding-bottom: 90px;

    background: var(--background-color-primary);
}

.main_part {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 48px;

    flex: none;
    order: 0;
}

.main_sectionname {
    /* pop-up_title */
    color: var(--brand-color-primary);
}

.news_section {
    width: 100%;
}

.news_part {
    display: flex;
    width: 100%;
    padding: 20px 0px;
    align-items: center;
}

.news_date {
    flex: 0 0 auto;
    padding-right: 24px;
    color: var(--base-color-primary);
}

.news_title {
    flex: 1;
    color: var(--base-color-primary);
}

.news_arrow {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    color: var(--brand-color-primary);
}

.news_border {
    border: none;
    border-top: 1px solid var(--base-color-tertiary);
    width: 100%;
}

.products_part {
    width: 100%;
}

.products_title {
    display: flex;
    width: 100%;
    align-items: center;
}

.products_icon {
    display: flex;
    align-items: center;
    padding-right: 16px;
}

.products_mainname {
    color: var(--base-color-primary);
}

.products_subname {
    color: var(--base-color-secondary);
}

.appimage {
    display: flex;
    justify-content: center;
}

.infowebimage {
    display: flex;
    justify-content: center;
}

.description_text {
    color: var(--base-color-primary);
    padding: 16px 0;
}

.download_buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}


.info_button_part {
    width: 100%;
    display: flex;
    justify-content: center;
}

.titechinfo_button {
    display: flex;
    border-radius: 10000px;
    padding: 8px 16px;
    color: var(--brand-color-primary);
    border: 1px solid var(--brand-color-primary);
    align-items: center;
    justify-content: center;
}

.info_button_text {
    padding-left: 4px;
}


.main_sectiontext {
    /* caption */
    color: var(--base-color-primary);
}

.main_subsectionname {
    /* copy */
    color: var(--brand-color-primary);
}

.main_subsectiontext {
    /* subcopy */
    color: var(--base-color-secondary);
}

.main_description {
    /* description */
    color: var(--base-color-primary);
}

.subcopy_br {
    display: initial;
}


/*responsive*/
@media screen and (max-width: 530px) {
    .top {
        height: 547px;
    }

    .top_back_center {
        width: 147px;
    }

    .top_back_right {
        width: 103px;
    }

    .fv_title {
        position: absolute;
        top: 121px;
        left: 32px;
        transform: translate(0%, -50%);
        color: var(--base-color-on-primary);
    }

    .fv_subcopy {
        position: absolute;
        top: 494px;
        left: 32px;
        transform: translate(0%, -50%);
        color: var(--base-color-on-primary);
    }

    .fv_mockup {
        top: 159px;
        left: 25px;
    }

    .overlay_logo {
        transform: translate(-35%, -50%);
    }

    .main {
        padding-left: 32px;
        padding-right: 32px;
        padding-top: 32px;
    }

    .main_part {
        gap: 16px;
    }

    .subcopy_br {
        display: initial;
    }
}

@media screen and (min-width: 531px) and (max-width: 600px) {
    .top {
        height: 613px;
    }

    .top_back_center {
        width: 172px;
    }

    .top_back_right {
        width: 132px;
    }

    .fv_title {
        position: absolute;
        top: 128px;
        left: 64px;
        transform: translate(0%, -50%);
        color: var(--base-color-on-primary);
    }

    .fv_mockup {
        top: 182px;
        left: 64px;
    }

    .fv_subcopy {
        position: absolute;
        top: 502px;
        left: 64px;
        transform: translate(0%, -50%);
        color: var(--base-color-on-primary);
    }

    .subcopy_br {
        display: initial;
    }

    .overlay_logo {
        transform: translate(-36%, -50%);
    }
}

@media screen and (min-width: 601px) and (max-width: 770px) {
    .top {
        height: 613px;
    }

    .top_back_center {
        width: 172px;
    }

    .top_back_right {
        width: 132px;
    }

    .fv_title {
        position: absolute;
        top: 128px;
        left: 64px;
        transform: translate(0%, -50%);
        color: var(--base-color-on-primary);
    }

    .fv_mockup {
        top: 182px;
        left: 64px;
    }

    .fv_subcopy {
        position: absolute;
        top: 502px;
        left: 64px;
        transform: translate(0%, -50%);
        color: var(--base-color-on-primary);
    }

    .subcopy_br {
        display: none;
    }

}