body {
    font-family: 'Avenir', 'Hiragino Sans', 'Roboto', 'メイリオ', Meiryo, 'sans-serif';
}

.pagetitle {
    /* JP/pagetitle */
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 150%;
}

.pop-up_title,
h1 {
    /* JP/pop-up title */
    font-style: normal;
    font-weight: 1000;
    font-size: 24px;
    line-height: 150%;
}

.copy,
h2 {
    /* JP/copy */
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
}

.subcopy,
h3 {
    /* JP/subcopy */
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
}

.description {
    /* JP/discription */
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
}

.section_title {
    /* JP/section title */
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
}

.caption,
p,
li {
    /* JP/caption */
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
}